version: '2'

services:
    odoo:
        image:  odoo:latest
        depends_on:
            - db
        ports:
            - "8069:8069"
    db:
        image: postgres:10
        environment:
            - POSTGRES_DB=postgres
            - POSTGRES_PASSWORD=odoo
            - POSTGRES_USER=odoo
